---
// Root redirect to /en
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>LuSplit</title>
    <meta http-equiv="refresh" content="0;url=/en" />
    <link rel="canonical" href="/en" />
    <script is:inline>window.location.replace('/en');</script>
  </head>
  <body>
    <a href="/en">LuSplit</a>
  </body>
</html>
